.mapa-localizacao {
	display: flex;
	flex: 1;
	justify-content: center;
	padding-left: 24px;
}

.localizacao {
	display: flex;
	flex: 1;
	justify-content: center;
}

.Textolocalizacao {
	display: flex;
	flex: 1;
	justify-content: center;
	width: 552px;
	height: 66px;
	left: 24px;
	top: 233px;
}

.grid-localizacao {
	background-color: #00838f;
}
