.cursor {
  position: fixed;
  width: 3em;
  height: 3em;
  z-index: 1;
  border-radius: 3em;
  border: 4px solid white;
  top: 2em;
  left: 2em;
  pointer-events: none;
  animation: move-cursor 2s ease-in-out;
  animation-iteration-count: 3;
}
.cursor:before {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background: white;
  border-radius: 50%;
  margin: 0.75em;
  content: "";
  animation: move-center 2s ease-in-out;
  animation-iteration-count: infinite;
}

.cursor,
.cursor:before {
  opacity: 0;
}

@keyframes move-cursor {
  0% {
    height: 3em;
  }
  20% {
    opacity: 1;
  }
  50% {
    height: 8em;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(5em);
    height: 3em;
  }
}

@keyframes move-center {
  0% {
    transform: translateY(0);
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translateY(5em);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
