.header {
	background-image: url("./head_temp.png");
	background-repeat: no-repeat;
	background-size: cover;

	.Logo {
		width: 100%;
		height: auto;
		// shadow
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	p {
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
}
